opentelemetry-distro
# We don't use the distro[otlp] option which automatically includes exporters since gRPC is not appropriate for
# injected auto-instrumentation, where it has a strict dependency on the OS / Python version the artifact is built for.
opentelemetry-exporter-otlp-proto-http

opentelemetry-propagator-b3
opentelemetry-propagator-jaeger
opentelemetry-propagator-aws-xray

opentelemetry-instrumentation
opentelemetry-propagator-ot-trace

# Copied in from https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation
# except for aws-lambda
chardet
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-aiopg
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-asyncpg
opentelemetry-instrumentation-boto
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-django
opentelemetry-instrumentation-elasticsearch
opentelemetry-instrumentation-falcon
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-jinja2
opentelemetry-instrumentation-kafka-python
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-mysql
opentelemetry-instrumentation-pika
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-pymemcache
opentelemetry-instrumentation-pymongo
opentelemetry-instrumentation-pymysql
opentelemetry-instrumentation-pyramid
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sklearn
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-sqlite3
opentelemetry-instrumentation-starlette
opentelemetry-instrumentation-tornado
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-wsgi